# Any private crt and keys #
############################
*.crt
*.key
*~
\#*

# OS specific #
###############
Thumbs.db
.DS_Store
.vscode

# Terraform specific #
######################
.terraform
*tfstate*
*.tfvars
